@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html, body {
    min-height: 100vh;
    min-width: 100vw;
    background: #ccc url(/hintergrund.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*:not(i):not(.fa) {
    font-family: 'Source Sans Pro', sans-serif;
}

line {
    stroke: #00f;
    stroke-width: 5;
}

#sidebar {
    overflow: auto;
    min-width: 15em;
    background-color: #ccc;
    padding: 1em;
    box-sizing: border-box;
}

#tooltip {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}